@page "/"
@inject HttpClient Http


<PageTitle>Main Page</PageTitle>
<div>
	<h1>Hello, world!</h1>

	<p>Welcome to your new app.</p>

	<p>Weh</p>
</div>
<div>
	<button @onclick="ConcatAudio">
		Concat Audio
	</button>
</div>
<div>
	@if (audioTest == null)
	{
		<p>WAITING FOR AUDIO</p>
	}
	else
	{
		<p>AUDIO RECEIVED</p>
		<audio controls>
			<source src=@audioTest type="audio/wav" />
		</audio>
	}
</div>
<div>
	<p>Testing</p>
	<audio controls>
		<source src="sounds/testing/switch.wav" type="audio/wav" />
	</audio>
</div>

@code {
	string audioTest;
	private void ConcatAudio()
	{
		
	}
}