@page "/"
@inject HttpClient Http


<PageTitle>Main Page</PageTitle>
<div>
	<h1>Hello, world!</h1>

	<p>Welcome to your new app.</p>

	<p>Weh</p>
</div>
<div>
	@if (audioTest == null)
	{
		<p>WAITING FOR AUDIO</p>
	}
	else
	{
		<p>AUDIO RECEIVED</p>
		<audio controls>
			<source src=@audioTest type="audio/wav" />
		</audio>
	}
</div>

@code {
	public string audioTest = "sounds/testing/output.wav";

	protected override async Task OnInitializedAsync()
	{
		var first = new AudioFileReader("sounds/testing/switch.wav");

		var playlist = new ConcatenatingSampleProvider(new[] { first, first });

		WaveFileWriter.CreateWaveFile16("sounds/testing/output.wav", playlist);
	}
	
}